[Unit]
Description=InventoryHIPA daemon

[Service]
Environment=XDG_SESSION_TYPE=x11
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash -lc /usr/bin/op_inventoryd \
	--log_file /var/log/op_inventoryd/op_inventoryd.log \
	--pid_file /run/op_inventoryd/op_inventoryd.pid
User=gac-op
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=append:/var/log/op_inventoryd/op_inventoryd.log
StandardError=append:/var/log/op_inventoryd/op_inventoryd.log


[Install]
WantedBy=graphical.target

